.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36.25px;
}
@media screen and (max-width: 600px) {
    .profile {
      flex-direction: column;
    }
  }