.elements {
    display: grid;
    max-width: 880px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    padding-top: 47.25px;
}

@media screen and (max-width: 600px) {
    .elements {
        display: flex;
        flex-direction: column;
    }
}