.profile__add {
    display: flex;
    border: 2px solid #fff;
    height: 50px;
    width: 150px;
    background: url(../../../images/addButton.svg) center no-repeat;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
}

.profile__add:hover {
    opacity: 0.6;    
}

@media screen and (max-width: 500px) {
    .profile__add {
       width: 282px;
    }
}